h1{

	color: red;
	font-family: Caveat;
	border-color: red;
	border-style: solid;
	line-height: 1;
	background-color: black;
	font-size: 53px;
	


}


p{
	font-family: Kalam;
	font-size: 12px;
	border-style: solid;
	border-color: black;
	color:black
	background-color:red

}


h2{
    color: black;
	border-color: balck;
	border-style: solid;
	background-color: red;
	font-family: Kalam;
}


